[Desktop Entry]
Type=Application
Name=Character Map
Comment=Find and copy any Unicode character
Icon=accessories-character-map
Exec=charmap
Categories=Utility;
Keywords=unicode;characters;symbols;
