[Desktop Entry]
Type=Application
Name=Password Generator
Comment=Make strong passwords and test them
Icon=dialog-password
Exec=passwordgen
Categories=Utility;Security;
Keywords=password;generate;strength;
