[Desktop Entry]
Type=Application
Name=PDF Viewer
Comment=Read PDF documents
Icon=x-office-document
Exec=pdfviewer %F
Categories=Office;Viewer;
Keywords=pdf;document;
MimeType=application/pdf;
